<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="./../../assets/style.css"> -->
</head>
<body>
 	<div class="vocabulary_component">
 		<div class="title_intro">
			<span>Test</span>
		</div>
		<div class="content">
			<div class="title_content">
				<label class="label">Test - A1</label>
			</div>
			<div class="title_content question" *ngFor="let i of createRang(5)">
				<div class="require_question section2">
					1. Which word completes the sentence?
				</div>
				<div class="text_question section2">
					Derek always goes skateboarding ___ Saturdays.
				</div>
				<div class="section1">
					<div class="section2">
						<label class="radio_custom">on
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
					<div class="section2">
						<label class="radio_custom">each
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
				</div>
				<div class="section1">
					<div class="section2">
						<label class="radio_custom">every
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
					<div class="section2">
						<label class="radio_custom">at
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
				</div>
			</div>
		</div>
		<div class="topic">
			<div class="title_topic">
				<span><i class="fa fa-bars" aria-hidden="true"></i>  Level</span>
			</div>
			<div class="buttons">
				<input class="button" type="button" name="" value="A1" *ngFor="let item of createRang(5)">
			</div>
		</div>
		<div class="section2 button_submit">
			<input class="button_cancel_custom" type="button" name="" value="Submit">
		</div>
 	</div>
</body>
</html>