
	<div class="founder_component" id="about-us">
		<div class="title">
			<span class="text_title">About us</span>
			<span class="sub_title">We are a team with 5 members. We organized the group according to Agile model. All members have the same mission and must fully develop their capabilities into the project. Below is our basic information.</span>
		</div>
		<div class="content_founders">
			<div class="fouder">
				<div class="massage">
					<p>"You only live once, but if you do it right, once is enough."</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/cut_avatar.jpg" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Nguyen Huu Cuong</span>
				</div>
				<div class="name_founder">
					<span>(Front-end)</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>"Good friends, good books, and a sleepy conscience: this is the ideal life."</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/avatar_quan.jpg" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Tran Hong Quan</span>
				</div>
				<div class="name_founder">
					<span>(Android)</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>"Insanity is doing the same thing, over and over again, but expecting different results."</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/avatar_hong.jpg" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Tu Anh Hong</span>
				</div>
				<div class="name_founder">
					<span>(Back-end)</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>"To live is the rarest thing in the world. Most people exist, that is all."</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/avatar_minh.jpg" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Nguyen Cong Minh</span>
				</div>
				<div class="name_founder">
					<span>(Android)</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>"In three words I can sum up everything I’ve learned about life: it goes on."</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/avatar_nhan.jpg" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Tra Anh Nhan</span>
				</div>
				<div class="name_founder">
					<span>(Front-end)</span>
				</div>
			</div>
		</div>
	</div>