<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./../../assets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> -->
<!-- <body> -->
	<div class="header">
		<div class="section logo">
			<a href="#"><img src="./../../../assets/images/logo_app.png" width="60px" height="60px"></a>
			<a href="#"><span class="textLogo">ELearn!</span></a>
		</div>
		<div class="section search">
			<input class="searchbox_custom" type="text" name="search" [(ngModel)]="text_search" placeholder="Search..." (keydown.enter)="navigateToSearch()">
			<i class="icon_search fa fa-search" aria-hidden="true" (click)="navigateToSearch()"></i>
		</div>
		<div class="section social">
			<div class="icon icon_facebook">
				<a href="#"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
			</div>
			<div class="icon icon_instagram">
				<a href="#"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
			</div>
			<div class="icon icon_youtube">
				<a href="#"><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class=" icon_bars section">
			<i class="fa fa-bars fa-2x" style="display: none;" aria-hidden="true"></i>
		</div>
	</div>
<!-- </body>
</html> -->