
	<div class="founder_component" id="about-us">
		<div class="title">
			<span class="text_title">About us</span>
			<span class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</span>
		</div>
		<div class="content_founders">
			<div class="fouder">
				<div class="massage">
					<p>Everything better when we really learn.</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/user.png" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Cuong Nguyen Huu</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>Everything better when we really learn.</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/user.png" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Cuong Nguyen Huu</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>Everything better when we really learn.</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/user.png" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Cuong Nguyen Huu</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>Everything better when we really learn.</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/user.png" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Cuong Nguyen Huu</span>
				</div>
			</div>
			<div class="fouder">
				<div class="massage">
					<p>Everything better when we really learn.</p>
				</div>
				<div class="avatar_founder">
					<img class="img_founder" src="./../../../assets/images/user.png" width="80px" height="80px">
				</div>
				<div class="name_founder">
					<span>Cuong Nguyen Huu</span>
				</div>
			</div>
		</div>
	</div>