.title_intro {
	width: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 30px;
}
.vocabulary_component{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.content{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	padding: 0px 150px;
	box-sizing: border-box;
}
.topic{
	display: block;
	width: 20%;
	text-align: center;
	box-sizing: border-box;
	padding-right: 100px;
}
.title_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
label{
	background: blue;
	opacity: 0.7;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
}
.section1{
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;
	align-items: center;*/
	width: 100%;
}
.vocabulary{
	font-weight: bold;
	font-size: 20px;
}
.description{
	padding: 0px 30px;
}
.vocabularies{
	padding: 15px 0px;
	border-bottom: 1px solid;
}
.title_topic{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 30px;
}
.button{
	width: 150px;
	padding: 5px;
	border: none;
	margin: 1px;
    border-radius: 5px;
}
.section2{
	padding: 0px 20px;
}
.section3{
	font-weight: bold;
}