<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 	<div class="vocabulary_component">
 		<div class="title_intro">
			<span>Grammar</span>
		</div>
		<div class="content">
			<div class="title_content">
				<label *ngIf="name_category!=null">{{name_category}}</label>
				<label *ngIf="name_category==null" class="name_loader"></label>
			</div>
			<div class="title_content vocabularies" *ngFor="let grammar of listGrammar" >
				<div class="section1 vocabulary">
					{{grammar.name}}
				</div>
				<div class="section1 description">
					<div class="section1 section3">
						Use:
					</div>
					<div class="section2">
						{{grammar.usage}}
					</div>
				</div>
				<div class="section1 description">
					<div class="section1 section3">
						Form:
					</div>
					<div class="section2">
						{{grammar.form}}
					</div>
				</div>
				<div class="section1 description">
					<div class="section1 section3">
						Example:
					</div>
					<div class="section2">
						{{grammar.example}}
					</div>
				</div>
			</div>
			<div class="title_content vocabularies vocab_loader" [style.display]="listGrammar!=null?'none':null" *ngFor="let item of tempArray(10)" >
				<div class="section1 vocabulary">
					<label></label>
				</div>
				<div class="section1 description">
					<div class="section1 section3">
						<label></label>
					</div>
					<div class="section2">
					</div>
				</div>
				<div class="section1 description">
					<div class="section1 section3">
						<label></label>
					</div>
					<div class="section2">
						
					</div>
				</div>
				<div class="section1 description">
					<div class="section1 section3">
						<label></label>
					</div>
					<div class="section2">
						
					</div>
				</div>
			</div>
		</div>
		<div class="topic">
			<div class="title_topic">
				<span><i class="fa fa-bars" aria-hidden="true"></i>  Topic</span>
			</div>
			<div class="buttons">
				<a class="button"  *ngFor="let category of child_category" [routerLink]="[url+category._id]" >{{category.name}}</a>
				<a class="button" href="{{urlTest}}" >TEST THIS PART</a>
				<!-- <input class="button" type="button" name="" value="A1" *ngFor="let item of createRang(5)"> -->
			</div>
		</div>
 	</div>
</body>
</html>