<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./../../assets/style.css">
</head>
<body>
	<div class="community_component">
		<div class="title">
			<span class="text_title">GRAMMAR</span>
		</div>
		<div class="contents">
			<div class="content main">
				<a href="#">All of question is publish on new feed</a>
			</div>
			<div class="content">
				<div class="sub_content">
					Comment to grow up
				</div>
				<div class="sub_content">
					Reaction every post
				</div>
				<div class="sub_content">
					Save into your bookmark
				</div>
			</div>
		</div>
	</div>
</body>
</html>