.Welcome{
  margin: 50px 0px;
  /*text-align: center;*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.title_welcome{
  display: flex;
  width: 100%;
justify-content: center;
  font-family: roboto slab,serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
    font-size: 40px;
}
.sub_welcomle{
  width: 500px;
  text-align: center;
  color: #76777a;
}
.feature_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
}

.feature {
  /*position: absolute;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 10px;
  padding: 10px;
  background-image: linear-gradient(white, #F5F5F5);
  box-shadow: 0px 9px 33px -12px rgba(0,0,0,0.75);
  z-index: 1;
  border-radius: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.title_feature {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto slab', sans-serif;
    width: 100%;
    padding-bottom: 15px;
   
}

.sub_title {

  font-family: 'Roboto slab', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
   text-align: center !important;
   padding-bottom: 15px;
   color: #76777a;
}

.see_more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}
.hexagon{
  position: relative;
  width: 100px;
  height: 50px;
  background: white;
  margin: 50px 0px;
  border-left: 3px solid #ebebe0;
  border-right: 3px solid #ebebe0;
  /*box-shadow: 0 0 20px rgba(0,0,0,0.55);*/
  /*z-index: 1;*/
}
.hexagon:before,
.hexagon:after{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  z-index: -1;
  transform: scaleY(0.7) scaleX(1.38) rotate(-45deg);
  /*box-shadow: 0 0 20px rgba(0,0,0,0.55);*/
  border: 3px solid #ebebe0;
}
.hexagon:after{
  top: 23px;
}
.hexagon:before{
  top: -27px;
}
.see_more > input{
  font-family: 'Roboto slab', sans-serif;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  background: #4F84C4;
  color: white;
  border: none;
}
.see_more > input:hover{
  opacity: 0.7;
}
.dark{
  background: #4f84c4;
}
.dark .title_feature{
  color: white;
}
.dark .sub_title{
  color: white;
}
.dark .see_more > input{
  background: white;
  color: #4F84C4;
}
@media (max-width: 991.98px) { 
  .title_welcome{
    font-size: 30px;
  }
  .feature{
        margin: 5px;
  }
  .hexagon{
    width: 60px;
    height: 30px;
  }
  .hexagon:after,.hexagon:before{
    width: 28px;
    height: 28px;
  }
  .hexagon:before{
    top: -17px;
  }
  .hexagon:after{
    top: 13px;
  }
  .title_feature{
    font-size: 13px;
  }
  .sub_title{
    font-size: 10px;
  }
  .see_more > input{
    padding: 7px 8px;
  }
}
@media (max-width: 767.98px) { 
  .title_welcome{
        font-size: 20px;
  }
  .sub_welcomle{

    font-size: 13px;
  }
  .Welcome{
        margin: 20px 0px;
  }
  .feature{
        margin: 3px;
  }
  i{
    font-size: 1em;
  }
  .title_feature{
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .Welcome{
        margin: 15px 0px;
  }
  .title_welcome{
        font-size: 15px;
  }
  .hexagon{
    width: 40px;
    height: 20px; 
  }
  .hexagon:after{
    width: 17px;
    height: 17px;
    top: 9px;
  }
  .hexagon:before{
    width: 17px;
    height: 17px;
    top: -12px;
  }
  .feature{
        width: 40%;
  }
}