<div class="Welcome" >
	<div class="title_welcome">
		<span>Welcome To ELearn</span>
	</div>
	<div class="sub_welcomle">
		<span>ELearn is a website that teaches English online with teaching programs that meet a lot of English learners, including English communication (Beginner, Elementary, Pre-intermediate, Intermediate, Case communication, Professional communication) industry), English Pronunciation, English Vocabulary, and English Grammar.</span>
	</div>
</div>

<div class="feature_list">
	<div class="feature">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-comments-o" aria-hidden="true"></i>
			<!-- <div class=""></div> -->
		</div>
		<div class="title_feature">
			<span>+3 milions people</span>
		</div>
		<div class="sub_title">
			<span>We offer flexible study options that includes studying on campus, online</span>
		</div>
		<!-- <div class="see_more">
			<input type="button" name="" value="See more">
		</div> -->
	</div>
	<div class="feature dark">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-sitemap" aria-hidden="true"></i>
		</div>
		<div class="title_feature">
			<span>security system</span>
		</div>
		<div class="sub_title">
			<span>Standard Security Systems is more than just the largest independent security company in Connecticut.</span>
		</div>
		<!-- <div class="see_more">
			<input type="button" name="" value="See more">
		</div> -->
	</div>
	<div class="feature">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-file-text-o" aria-hidden="true"></i>
		</div>
		<div class="title_feature">
			<span>Diverse documents</span>
		</div>
		<div class="sub_title">
			<span>Find diverse document stock images in HD and millions of other royalty-free stock photos, illustrations and vectors in the Shutterstock collection</span>
		</div>
		<!-- <div class="see_more">
			<input type="button" name="" value="See more">
		</div> -->
	</div>
	<div class="feature dark">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-database" aria-hidden="true"></i>
		</div>
		<div class="title_feature">
			<span>Big data</span>
		</div>
		<div class="sub_title">
			<span>Big data is a term that describes the large volume of data – both structured and unstructured – that inundates a business on a day-to-day basis.</span>
		</div>
		<!-- <div class="see_more">
			<input type="button" name="" value="See more">
		</div> -->
	</div>
</div>