<div class="course">
	<div class="title">
		<span>B1</span>	
	</div>
	<div class="content_course">
		<div class="vocabulary">
			<div class="box">
				<div class="title_box">
					<span>Vocabulary</span>
				</div>
				<div class="content_box">
					<a href="/level/b1/vocabulary">Từ vựng thông dụng P1</a>
					<a href="/level/b1/vocabulary">Từ vựng thông dụng P2</a>
					<a href="/level/b1/vocabulary">Từ vựng thông dụng P3</a>
					<a href="/level/b1/vocabulary">Chào hỏi</a>
					<a href="/level/b1/vocabulary">Du lịch, phương hướng</a>
					<a href="/level/b1/vocabulary">Con số và tiền bạc</a>
				</div>
			</div>
		</div>
		<div class="grammar">
			<div class="box">
				<div class="title_box">
					<span>Grammar</span>
				</div>
				<div class="content_box">
					<a href="/level/b1/grammar">Simple present tense</a>
					<a href="/level/b1/grammar">Simple past tense</a>
					<a href="/level/b1/grammar">Past continuous tense</a>
				</div>
			</div>
		</div>
		<div class="practice">
			<div class="box">
				<div class="title_box">
					<span>Practive</span>
				</div>
				<div class="content_box">
					<a href="/level/b1/test">Từ vựng: check-box</a>
					<a href="/level/b1/test">Grammar: check-box</a>
				</div>
			</div>
		</div>
	</div>
</div>