<div class="course">
	<div class="title">
		<span *ngIf="category!=null">{{category.name}}</span>	
	</div>
	<div class="content_course">
		<div class="vocabulary">
			<div class="box">
				<div class="title_box">
					<span>Vocabulary</span>
				</div>
				<div class="content_box">
					<a href="/level/b1/vocabulary" *ngFor="let item of listVocab">{{item.name}}</a>
					
				</div>
			</div>
		</div>
		<div class="grammar">
			<div class="box">
				<div class="title_box">
					<span>Grammar</span>
				</div>
				<div class="content_box">
					<a href="/level/b1/grammar" *ngFor="let item of listGrammar">{{item.name}}</a>
				</div>
			</div>
		</div>
		<div class="practice">
			<div class="box">
				<div class="title_box">
					<span>Practive</span>
				</div>
				<div class="content_box">
					<a href="/level/b1/test">Từ vựng: check-box</a>
					<a href="/level/b1/test">Grammar: check-box</a>
				</div>
			</div>
		</div>
	</div>
</div>