<div class="course">
	<div class="title">
		<span *ngIf="category!=null">{{category_name}}</span>	
		<span *ngIf="category==null" class="title_loader"></span>
	</div>
	<div class="content_course">
		<div class="vocabulary">
			<div class="box">
				<div class="title_box">
					<span>Vocabulary</span>
				</div>
				<div class="content_box">
					<a *ngFor="let item of listVocab" [routerLink]="[url+'/vocabulary/'+item._id]">{{item.name}}</a>
					<a *ngIf="listVocab==null" class="loader"></a>
					<a *ngIf="listVocab==null" class="loader"></a>
					<a *ngIf="listVocab==null" class="loader"></a>
				</div>
			</div>
		</div>
		<div class="grammar">
			<div class="box">
				<div class="title_box">
					<span>Grammar</span>
				</div>
				<div class="content_box">
					<a [routerLink]="[url+'/grammar/'+item._id]" *ngFor="let item of listGrammar">{{item.name}}</a>
					<a *ngIf="listGrammar==null" class="loader"></a>
					<a *ngIf="listGrammar==null" class="loader"></a>
					<a *ngIf="listGrammar==null" class="loader"></a>
				</div>
			</div>
		</div>
		<div class="practice">
			<div class="box">
				<div class="title_box">
					<span>Practive</span>
				</div>
				<div class="content_box">
					<a [routerLink]="[url+'/test']" [queryParams]="{type: 'choose'}">Select quizz</a>
				</div>
			</div>
		</div>
	</div>
</div>
