
 	<div class="vocabulary_component"> 
 		<div class="title_intro">
			<span>Test</span>
		</div>
		<div class="question_table">
			<label>Time left: <span id="timeleft">00:00</span> </label>
			<label>Question status</label>
			<table>
				<!-- <tr > -->
					<td *ngFor="let question of list_question; let i = index" ><input (click)="moveTo(question._id)" type="button" name="" 
						[style.background]="list_selected.indexOf(question._id)!=-1?'blue':null"
						[style.color]="list_selected.indexOf(question._id)!=-1?'white':null"
						 value="{{i+1}}"></td>
					<!-- <td><input type="button" name="" value="2"></td>
					<td><input type="button" name="" value="3"></td>
					<td><input type="button" name="" value="4"></td>
					<td><input type="button" name="" value="5"></td>
				</tr>
				<tr>
					<td><input type="button" name="" value="6"></td>
					<td><input type="button" name="" value="7"></td>
					<td><input type="button" name="" value="8"></td>
					<td><input type="button" name="" value="9"></td>
					<td><input type="button" name="" value="10"></td>
				</tr>
				<tr>
					<td><input type="button" name="" value="11"></td>
					<td><input type="button" name="" value="12"></td>
					<td><input type="button" name="" value="13"></td>
					<td><input type="button" name="" value="14"></td>
					<td><input type="button" name="" value="15"></td>
				</tr>
				<tr>
					<td><input type="button" name="" value="16"></td>
					<td><input type="button" name="" value="17"></td>
					<td><input type="button" name="" value="18"></td>
					<td><input type="button" name="" value="19"></td>
					<td><input type="button" name="" value="20"></td>
				</tr> -->
			</table>
		</div>
		<div class="content" >
			<!-- <div class="title_content">
				<label class="label">Test - A1</label>
			</div> -->
			<div class="title_content question" *ngFor="let question of list_question; let i = index" id="question{{question._id}}">
				<div class="require_question section2">
					{{i+1}}. {{question.content}}
				</div>
				<div class="text_question section2" *ngIf="question.imgs.length>0">
					<img src="https://elearn-anhhong.c9users.io/images/{{question.imgs[0]}}" width="50%" height="50%">
				</div>
				<div class="section1">
					<div class="section2" *ngFor="let answer of question.answers; let j =index">
						<input type="radio" name="{{question._id}}" id="{{question._id+j}}" >
						<label for="{{question._id+j}}">{{answer}}</label>
					</div>
				</div>
				<!-- <div class="section1">
					<div class="section2">
						<label class="radio_custom">every
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
					<div class="section2">
						<label class="radio_custom">at
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
				</div> -->
			</div>
			<div class="title_content question loader" *ngIf="list_question==null">
				<div class="require_question section2">
					<label></label>
				</div>
				<div class="text_question section2">
					<label></label>
				</div>
				<div class="section1">
					<div class="section2" >
						<label></label>
					</div>
					<div class="section2" >
						<label></label>
					</div>
					<div class="section2" >
						<label></label>
					</div>
					<div class="section2" >
						<label></label>
					</div>
				</div>
				<!-- <div class="section1">
					<div class="section2">
						<label class="radio_custom">every
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
					<div class="section2">
						<label class="radio_custom">at
							<input type="radio" name="Q1">
							<span class="checkmark"></span>
						</label>
						
					</div>
				</div> -->
			</div>
			<div class="result question" *ngIf="total_question_correct!=null">
				<label>Correct: {{total_question_correct}}/20</label>
				<label>Score: {{total_question_correct*(10/20)}} points</label>
			</div>
		</div>
		
		<div class="topic">
			<div class="title_topic">
				<span><i class="fa fa-bars" aria-hidden="true"></i>  Choose test</span>
			</div>
			<div class="buttons" *ngIf="listVocab!=null && listGrammar!=null">
				<a class="button"  *ngFor="let vocab of listVocab" (click)="reTest(vocab._id)" >{{vocab.name}}</a>
				<!-- <input class="button" type="button" name="" value="A1" *ngFor="let item of createRang(5)"> -->
				<a class="button"   *ngFor="let grammar of listGrammar" (click)="reTest(grammar._id)" >{{grammar.name}}</a>
				<a class="button" (click)="toggleDialogTest()"  >Choose multiple parts</a>
			</div>
		</div>
		<div class="section2 button_submit" *ngIf="list_question!=null&&list_question.length>0">
			<input class="button_cancel_custom" (click)="submitTest()" type="button" name="" value="Submit">
		</div>
		
 	</div>
<div class="dialog" *ngIf="showDialog">
	<div class="background" (click)="toggleDialogTest()">
		
	</div>
	<dialog open class="content_dialog" *ngIf="listVocab!=null && listGrammar!=null" >
		<div class="title_dialog">
			<span>Choose categories</span>
		</div>
		<div class="box_option" *ngFor="let vocab of listVocab">
			<input type="checkbox" id="{{vocab._id}}" name="" (change)="option(vocab._id)">
			<label for="{{vocab._id}}">{{vocab.name}}</label>
		</div>
		<div class="box_option" *ngFor="let grammar of listGrammar">
			<input type="checkbox" id="{{grammar._id}}" name="" (change)="option(grammar._id)">
			<label for="{{grammar._id}}">{{grammar.name}}</label>
		</div>
		<div class="boxButton">
			<input type="button" name="" value="Cancel" (click)="toggleDialogTest()">
			<input type="button" name="" value="Create" (click)="createTest()">
		</div>
		
	</dialog>
</div>