<div class="introduce">
	<div class="slider">
		<input type="radio" name="slide" value='1' class="slide" id="slide1" [(ngModel)]="number_slide" >
		<input type="radio" name="slide" value='2' class="slide" id="slide2" [(ngModel)]="number_slide" >
		<input type="radio" name="slide" value='3' class="slide" id="slide3" [(ngModel)]="number_slide">
		<input type="radio" name="slide" value='4' class="slide" id="slide4" [(ngModel)]="number_slide">
		<input type="radio" name="slide" value='5' class="slide" id="slide5" [(ngModel)]="number_slide">
		<figure id="content">
			

			<div class="img_slider" id="one">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content" >
						<span >Study not what the world is doing, but what you can do for it</span>
					</div>
					<div class="sub_content">
						<span>Have it your way</span>
					</div>
				</div>
			</div>
			<div class="img_slider" id="two">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>Adventure is the best way to learn</span>
					</div>
					<div class="sub_content">
						<span>Be all you can be</span>
					</div>
				</div>
			</div>
			<div class="img_slider" id="three">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>Once you stop learning, you’ll start dying</span>
					</div>
					<div class="sub_content">
						<span>Learning is the eye of the mind</span>
					</div>
				</div>
			</div>
			<div class="img_slider" id="four">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>You learn something everyday if you pay attention</span> 
					</div>
					<div class="sub_content">
						<span>future of education technolofy</span>
					</div>
				</div>
			</div>
			<div class="img_slider" id="five">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>Never stop learning because life never stop teaching</span>
					</div>
					<div class="sub_content">
						<span>future of education technolofy</span>
					</div>
				</div>
			</div>
		</figure>
		
		<div class="dots" id="dotss">
			
			<label for="slide1" id="dot1"></label>
			<label for="slide2" id="dot2"></label>
			<label for="slide3" id="dot3"></label>
			<label for="slide4" id="dot4"></label>
			<label for="slide5" id="dot5"></label>
		</div>

	</div>

</div>