<app-notification *ngIf="message!=null" [value]="message"></app-notification>
	<div class="content_community">
		<div class="title_intro">
			<span>COMMUNITY</span>
		</div>
		<div class="content"> 
			<div class="questions" >
				<div class="section1 post" *ngIf="profile!=null">
					<div class=" section1 header_post">
						<span>Create post</span>
					</div>
					<div class=" section1 main_post">
						<img *ngIf="profile.img==null" class="img_user" src="./../../../assets/images/user.png" width="30px" height="30px">
						<img *ngIf="profile.img!=null" class="img_user" src="https://elearn-anhhong.c9users.io/images/{{profile.img}}" width="30px" height="30px">
						<textarea rows="2" placeholder="Type your question..." [(ngModel)]="content_post" #textbox (change)="content_post = textbox.value" minlength="10"></textarea>
					</div>
					<div class="section1 attachment_post">
						<div class="preview_img_upload" *ngIf="list_img.length>0">
							<div class="box_img" *ngFor="let img of list_img">
								<img src="" width="50px" src="https://elearn-anhhong.c9users.io/images/{{img}}" height="50px">
								<i class="fa fa-times-circle-o" aria-hidden="true" (click)="deleteImg(img)"></i>
							</div>
							
						</div>
						<br>
						<div class="preview_img_upload" *ngIf="tagsSelected.length>0">
							<i class="fa fa-tags" aria-hidden="true">With tags:</i>
							<div class="box_tag" *ngFor="let tag of tagsSelected">
								<span>{{tag.name}}</span>
								<!-- <i class="fa fa-times-circle-o" aria-hidden="true"></i> -->
							</div>
						</div>
						<br>
						<div class="box_button">
							<label class="label" for="upload-photo"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload photo</label>
							<input type="file" name="" id="upload-photo" (change)="uploadImg($event)">
							<a class="label_tag " (clickOutside)="showTag=false" >
								<a class="label" (click)="toggle_tag()"><i class="fa fa-tags" aria-hidden="true"></i>Tag
									
								</a>
								<div class="list_tag" *ngIf="showTag">
									<div class="tag" *ngFor="let tag of tags">
										<input type="checkbox" name=""[checked]="tagsSelected.indexOf(tag)!=-1?true:false" id="{{tag._id}}" (change)="add_remove_tag(tag)">
										<label for="{{tag._id}}">{{tag.name}}</label>
									</div>
								</div>
							</a>
							<a class="label_tag " (clickOutside)="showEmoji=false">
								<a class="label" (click)="toggle_emoji()"><i class="fa fa-smile-o" aria-hidden="true"></i>Emoji</a>
								<div class="list_emoji" *ngIf="showEmoji">
									<span *ngFor="let icon of listEmoji" (click)="addIcon(icon)">{{icon}}</span>
								</div>
							</a>
							<input class="btn_post" type="button" name="" value="Post" (click)="addPost()" >
						</div>
					</div>
				</div>
				<div   class="question section1" *ngFor="let post of posts" id="{{post._id}}" >
					<div class="info_question section1">
						<div class="img">
							<img *ngIf="post.profile.img==null" class="img_user" src="./../../../assets/images/user.png" width="30px" height="30px">
							<img *ngIf="post.profile.img!=null" class="img_user" src="https://elearn-anhhong.c9users.io/images/{{post.profile.img}}" width="30px" height="30px">
						</div>
						<div class="name_datetime">
							<div class="name section1">
								{{post.profile.name}}
							</div>
							<div class="datetime section1">
								{{post.created | date:'dd-MM-yyyy'}} at {{post.created | date:'HH:mm'}}
							</div>
							
						</div>
						<div class="function">
							<i (click)="tongleFuntion(post._id)"   (clickOutside)="idPost==post._id?idPost='':null" class="fa fa-ellipsis-h" aria-hidden="true"></i>
							<div class="list_function" *ngIf="idPost==post._id">
								<div *ngIf="profile.id==post.profile._id||profile.id==post.profile.id" (click)="toggleEdit(post)" >
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									<span>Edit post</span>
									
								</div>
								<div *ngIf="profile.id==post.profile._id||profile.id==post.profile.id" (click)="toggleDelete(post)">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
									<span>Delete post</span>
									
								</div>
								<div>
									<i class="fa fa-bug" aria-hidden="true"></i>
									<span>Report post</span>
									
								</div>
							</div>
						</div>
					</div>
					<div class="section1 div_question">
						<div *ngIf="post.tags.length>0"><i class="fa fa-tags" aria-hidden="true"></i></div>
						<div class="box_tag" *ngFor="let tag of post.tags" (click)="postByTag(tag)">
							<span>{{objectTag[tag]}}</span>
						</div>
						<div class="content_question">
							<p>{{post.content}}</p>
						</div>
						<div class="imgs" >
							<img *ngFor="let img of post.imgs" [style.width.%]="post.imgs.length>1?40:80" src="https://elearn-anhhong.c9users.io/images/{{img}}" (click)="toggleDetail(post,img)">
						</div>
					</div>
					<div class="like_comment section1" *ngIf="profile!=null">
						<div class="box" >
							<i class="fa fa-heart" aria-hidden="true" [style.color]="post.isLike?'red':'#00000061'"></i><input (click)="like(post)" class="button_like_commnet" type="button" name="" value="Like({{post.likes}})">
						</div>
						<div class="box" (click)="toggleDetail(post)">
							<i class="fa fa-commenting" aria-hidden="true"></i><input class="button_like_commnet" type="button" name="" value="Comment({{post.comments}})">
						</div>
						<div class="box">
							<i class="fa fa-bookmark" aria-hidden="true" [style.color]="post.isBookmark ?'red':'#00000061'"></i><input class="button_like_commnet" type="button" name="" value="Save bookmark" (click)="saveAndRemoveBookmark(post)">
						</div>
						
					</div>
				</div>
				<div *ngIf="load_data" class="load_data question section1">
					<div class="info_question section1">
						<div class="img">
							
						</div>
						<div class="name_datetime">
							<div class="name section1">
								<span></span>
							</div>
							<br>
							<div class="datetime section1">
								<span></span>
							</div>
							
						</div>
						<div class="function">
							<span></span>
						</div>
					</div>
					<div class="section1 div_question">
						<div class="content_question">
							<span></span>
						</div>
						<div class="imgs" >
							
						</div>
					</div>
					<div class="like_comment section1">
						<div class="box" >
							
						</div>
						<div class="box">
							
						</div>
						<div class="box">
							
						</div>
						
					</div>
				</div>
				<!-- <div class="pagination">
				  <a href="#">&laquo;</a>
				  <a href="#">1</a>
				  <a href="#" class="active">2</a>
				  <a href="#">3</a>
				  <a href="#">4</a>
				  <a href="#">5</a>
				  <a href="#">6</a>
				  <a href="#">&raquo;</a>
				</div> -->
			</div>
			<div class="setting">
					<div class="section3 title">
						<span class="title_setting">Shortcuts</span>
					</div>
					<div class="section3">
						<input class="button_cancel_custom" [routerLink]="['/level/B1']" type="button" name="" value="B1">
					</div>
					<div class="section3">
						<input class="button_cancel_custom" [routerLink]="['/level/Toeic']" type="button" name="" value="Toeic">
					</div>
					<div class="section3" *ngIf="profile!=null">
						<input class="button_cancel_custom" [routerLink]="['/bookmark']" type="button" name="" value="Bookmark">
					</div>
					
			</div>
		</div>
	</div>
	<div class="dialog" *ngIf="showEdit">
		<div class="background_gray" (click)="toggleEdit()">
			
		</div>
		<div class="edit">
				<div class="section1 post">
					<div class=" section1 header_post">
						<span>Edit post</span>
					</div>
					<div class=" section1 main_post">
						<img *ngIf="profile==null" class="img_user" src="./../../../assets/images/user.png" width="30px" height="30px">
						<img *ngIf="profile!=null" class="img_user" src="https://elearn-anhhong.c9users.io/images/{{profile.img}}" width="30px" height="30px">
						<textarea rows="5" placeholder="Type your question..." [(ngModel)]="content_edit_post" #textbox (change)="content_edit_post = textbox.value"></textarea>
					</div>
					<div class="section1 attachment_post">
						<div class="box_button">
							<input class="btn_post btn_cancel"  (click)="toggleEdit()" type="button" name="" value="Cancel">
							<input class="btn_post" type="button" name="" value="Edit" (click)="editPost()" >
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="dialog" *ngIf="showDelete">
		<div class="background_gray" (click)="toggleDelete()">
			
		</div>
		<div class="edit">
				<div class="section1 post">
					<div class=" section1 header_post">
						<span>Delete post</span>
					</div>
					<!-- <div class=" section1 main_post">
						<img *ngIf="profile==null" class="img_user" src="./../../../assets/images/user.png" width="30px" height="30px">
						<img *ngIf="profile!=null" class="img_user" src="https://elearn-anhhong.c9users.io/images/{{profile.img}}" width="30px" height="30px">
						<textarea rows="5" placeholder="Type your question..." [(ngModel)]="content_edit_post" #textbox (change)="content_edit_post = textbox.value"></textarea>
					</div> -->
					<div class="section1 attachment_post">
						<div class="box_button">
							<input class="btn_post btn_cancel"  (click)="toggleDelete()" type="button" name="" value="Cancel">
							<input class="btn_post" type="button" name="" value="Delete" (click)="deletePost()" >
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="dialog" *ngIf="showDetail">
		<div class="background_gray" (click)="toggleDetail()">
			
		</div>
		<div class="detailPost" >
			<div>
				<div id="black" class="black" *ngIf="postDetail.imgs.length>0">
					<div class="previous" (click)="previousImg()" *ngIf="postDetail.imgs.length>1">
						<i class="fa fa-caret-left fa-3x" aria-hidden="true"></i>
					</div>
					<img (load)="checkSizeImg()" id="img_detail" [className]="isWidthAuto==false?'heightAuto':'widthAuto'"
					 src="https://elearn-anhhong.c9users.io/images/{{imgCurrent}}">
					<div class="next" (click)="nextImg()" *ngIf="postDetail.imgs.length>1">
						<i class="fa fa-caret-right fa-3x" aria-hidden="true"></i>
					</div>
				</div>
				<div class="white">
					<div style="display: block;width: 100%;">
					<div class="infor">
						<div class="imgUserPost">
							<img *ngIf="postDetail.profile.img==null"  src="./../../../assets/images/user.png" width="50px" height="50px">
							<img *ngIf="postDetail.profile.img!=null"  src="https://elearn-anhhong.c9users.io/images/{{postDetail.profile.img}}" width="50px" height="50px" >
						</div>
						<div class="nameAndDatetime">
							<div class="name">
								<span>{{postDetail.profile.name}}</span>
							</div>
							<div class="datetime">
								<span>{{postDetail.created | date:'dd-MM-yyyy'}} at {{postDetail.created | date:'HH:mm'}}</span>
							</div>
						</div>
					</div>
					<div class="text_content">
						<p>{{postDetail.content}}</p>
					</div>
					<div class="like_comment_save" *ngIf="profile!=null">
						<div class="box" >
							<i class="fa fa-heart" aria-hidden="true" [style.color]="postDetail.isLike?'red':'#00000061'"></i><input (click)="like(postDetail)" class="button_like_commnet" type="button" name="" value="Like({{postDetail.likes}})">
						</div>
						<!-- <div class="box">
							<i class="fa fa-commenting" aria-hidden="true"></i><input class="button_like_commnet" type="button" name="" value="Comment({{postDetail.comments}})">
						</div> -->
						<div class="box">
							<i class="fa fa-bookmark" aria-hidden="true" [style.color]="postDetail.isBookmark ?'red':'#00000061'"></i><input class="button_like_commnet" type="button" name="" value="Save bookmark"  (click)="saveAndRemoveBookmark(postDetail)">
						</div>
					</div>
					<div class="input_comment" *ngIf="profile!=null">
						<div class="img_current_user">
							<img *ngIf="profile.img==null" class="img_user" src="./../../../assets/images/user.png" width="40px" height="40px">
							<img *ngIf="profile.img!=null" class="img_user" src="https://elearn-anhhong.c9users.io/images/{{profile.img}}" width="40px" height="40px">
						</div>
						<div class="input">
							<input type="text" name="" placeholder="Write a comment" [(ngModel)]="input_comment" (keydown.enter)="addComment()">
						</div>
					</div>
					<div class="comments">
						<div class="comment" *ngFor="let comment of comments">
							<div class="img_user_comment">
								<img *ngIf="comment.profile.img==null"  src="./../../../assets/images/user.png" width="40px" height="40px">
							<img *ngIf="comment.profile.img!=null"  src="https://elearn-anhhong.c9users.io/images/{{comment.profile.img}}" width="40px" height="40px" >
							</div>
							<div class="content_comment">
								<a class="name" href="">{{comment.profile.name}}</a>
								<span class="datetime">{{comment.created | date:'dd-MM-yyyy'}} at {{comment.created | date:'HH:mm'}}</span>
								<p>{{comment.content}}</p>
								
							</div>
							<div class="function_comment">
								<i class="fa fa-ellipsis-h" aria-hidden="true" (click)="toggleFunctionComment(comment)" 
								(clickOutside)="_comment==comment?_comment='':null"></i>
								<div class="list_function" *ngIf="_comment == comment" >
									<div *ngIf="comment.profile._id==profile.id||comment.profile.id==profile.id" (click)="toggleEditComment()">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<span>Edit comment</span>
										
									</div>
									<div *ngIf="comment.profile._id==profile.id||comment.profile.id==profile.id" (click)="toggleDeleteComment()">
										<i class="fa fa-trash-o" aria-hidden="true"></i>
										<span>Delete comment</span>
										
									</div>
									<div>
										<i class="fa fa-bug" aria-hidden="true"></i>
										<span>Report comment</span>
										
									</div>
								</div>
							</div>
						</div>
						<div class="comment comment_loader" *ngFor="let item of createArray(postDetail.comments)" [style.display]="isLoadComments==false?'none':null">
							<div class="img_user_comment">
								
							</div>
							<div class="content_comment">
								<a class="name" href=""></a>
								<span class="datetime"></span>
								<p></p>
								
							</div>
							<div class="function_comment">
								<i></i>
				
							</div>
						</div>

					</div>
				</div>
				</div>

			</div>
			<div class="dialog" *ngIf="showEditComment">
				<div class="background_gray" (click)="toggleEditComment()">
				
				</div>
				<div class="edit">
					<div>
						<div class="title_edit">
							<span>Edit comment</span>
						</div>
						<div class="main_edit">
							<textarea rows="2" [(ngModel)]="content_edit_comment" #textboxComment (change)="content_edit_comment = textboxComment.value"></textarea>
						</div>
						<div class="buttons_edit">
							<input type="button" name="" value="Cancel" (click)="toggleEditComment()">
							<input type="button" name="" value="Edit" (click)="editComment()">
						</div>
					</div>
				</div>
			</div>
			<div class="dialog" *ngIf="showDeleteComment">
				<div class="background_gray" (click)="toggleDeleteComment()">
				
				</div>
				<div class="edit">
					<div>
						<div class="title_edit">
							<span>Delete comment</span>
						</div>
						<div class="buttons_edit">
							<input type="button" name="" value="Cancel" (click)="toggleDeleteComment()">
							<input type="button" name="" value="Delete" (click)="deleteComment()">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>