<app-notification *ngIf="message!=null" [value]="message"></app-notification>
 	<div class="vocabulary_component">
 		<div class="title_intro">
			<span>VOCABULARY</span>
		</div>
		<div class="content">
			<div class="title_content">
				<label  *ngIf="name_category!=null" >{{name_category}}</label>
				<label *ngIf="name_category==null" class="name_loader"></label>
			</div>
			<div class="title_content vocabularies" *ngFor="let word of listWord">
				<div class="section1 vocabulary">

						{{word.name}} ( {{word.spell}} )
						<i class="fa fa-volume-up" aria-hidden="true" (click)="read(word.name)"></i>


						<i class="fa fa-star" aria-hidden="true" *ngIf="isLogin!=null" (click)="addAndRemoveBookmark(word)" [style.color]="word.isBookmark==true?'#efd300':null"></i>

					
				</div>
				<div class="section1 description">
					{{word.mean}}
				</div>
			</div>
			<div class="title_content vocabularies vocab_loader" [style.display]="listWord!=null?'none':null" *ngFor="let item of tempArray(10)">
				<div class="section1 vocabulary">
						
						<label></label>
						<i></i>


						<i *ngIf="isLogin!=null"></i>

					
				</div>
				<div class="section1 description">
					<label></label>
				</div>
			</div>
		</div>
		<div class="topic">
			<div class="title_topic">
				<span><i class="fa fa-bars" aria-hidden="true"></i>  Topic</span>
			</div>
			<div class="buttons">
				<a class="button" href="#" *ngFor="let category of child_category" [routerLink]="[url+category._id]" >{{category.name}}</a>
				<a class="button" href="{{urlTest}}" >TEST THIS PART</a>
				<!-- <input class="button" type="button" name="" value="Appliances" *ngFor="let item of createRang(5)"> -->
			</div>
		</div>
 	</div>
