<div class="forgot">
		<table>
			<caption>Forgot password</caption>
			<tr>
				<td><label>Input your email:</label></td>
				<td><input class="input_custom" type="text" name="email"  id="email" value="" autocomplete="nope"></td>
			</tr>
			<tr>
				<td><label>Input your code:</label></td>
				<td><input class="input_custom" type="text" name="code" id="code" value="" autocomplete="nope"></td>
			</tr>
			<tr>
				<td><label>Input new password:</label></td>
				<td><input class="input_custom" type="password" name="newPassword" id="newPassword" value="" autocomplete="nope"></td>
			</tr>
			<tr>
				<td><label>Input re-password:</label></td>
				<td><input class="input_custom" type="password" name="re-password" id="re-password" value="" autocomplete="nope"></td>
			</tr>
			<tr>
				<td></td>
				<td><input class="button_cancel_custom" type="button" name="" id="" value="Send"></td>
			</tr>
		</table>
</div>