<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./../../assets/style.css">
</head>
<body>
 	<div class="vocabulary_component">
 		<div class="title_intro">
			<span>Profile</span>
		</div>
		<div class="content">
			<div class="section1">
				<div class="section2">
					<span>Avatar</span>
				</div>
				<div class="section3">
					<img class="img_user" src="./../../../assets/images/user.png" width="70px" height="70px">
				</div>
				<div class="section4">
					<input class="input_custom" type="file" name="" value="Change">
				</div>
			</div>
			<div class="section1">
				<div class="section2">
					<span>Username</span>
				</div>
				<div class="section3">
					<input class="input_custom" type="text" name="">
				</div>
				<div class="section4">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</div>
			</div>
			<div class="section1">
				<div class="section2">
					<span>Password</span>
				</div>
				<div class="section3">
					<input class="input_custom" type="text" name="">
				</div>
				<div class="section4">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</div>
			</div>
			<div class="section1">
				<div class="section2">
					<span>Full name</span>
				</div>
				<div class="section3">
					<input class="input_custom" type="text" name="">
				</div>
				<div class="section4">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</div>
			</div>
			<div class="section1">
				<div class="section2">
					<span>Birth</span>
				</div>
				<div class="section3">
					<input class="input_custom" type="text" name="">
				</div>
				<div class="section4">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</div>
			</div>
			<div class="section1">
				<div class="section2">
					<span>Address</span>
				</div>
				<div class="section3">
					<input class="input_custom" type="text" name="">
				</div>
				<div class="section4">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="topic">
			<div class="title_topic">
				<span><i class="fa fa-bars" aria-hidden="true"></i>  Topic</span>
			</div>
			<div class="buttons">
				<input class="button" type="button" name="" value="Profile">
				<input class="button" type="button" name="" value="My bookmark">
				<input class="button" type="button" name="" value="History">
				<input class="button" type="button" name="" value="Logout">
			</div>
		</div>
 	</div>
</body>
</html>