<div class="introduce">
	<div class="slider">
		<figure>
			<div class="img_slider">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>The premium system education</span>
					</div>
					<div class="sub_content">
						<span>future of education technolofy</span>
					</div>
				</div>
			</div>
			<div class="img_slider">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>The premium system education</span>
					</div>
					<div class="sub_content">
						<span>future of education technolofy</span>
					</div>
				</div>
			</div>
			<div class="img_slider">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>The premium system education</span>
					</div>
					<div class="sub_content">
						<span>future of education technolofy</span>
					</div>
				</div>
			</div>
			<div class="img_slider">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>The premium system education</span>
					</div>
					<div class="sub_content">
						<span>future of education technolofy</span>
					</div>
				</div>
			</div>
			<div class="img_slider">
				<img src="./../../../assets/images/home_slider_1.jpg">
				<div class="content_slide">
					<div class="title_content">
						<span>The premium system education</span>
					</div>
					<div class="sub_content">
						<span>future of education technolofy</span>
					</div>
				</div>
			</div>
		</figure>
	</div>
</div>