<div class="Welcome" >
	<div class="title_welcome">
		<span>Welcome To ELearn</span>
	</div>
	<div class="sub_welcomle">
		<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</span>
	</div>
</div>

<div class="feature_list">
	<div class="feature">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-comments-o" aria-hidden="true"></i>
			<!-- <div class=""></div> -->
		</div>
		<div class="title_feature">
			<span>+3 milions people</span>
		</div>
		<div class="sub_title">
			<span>Lorem ipsum dolor sit amet consect etrttur adipisicing labore et trtdolore magna aliqut</span>
		</div>
		<div class="see_more">
			<input type="button" name="" value="See more">
		</div>
	</div>
	<div class="feature dark">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-sitemap" aria-hidden="true"></i>
		</div>
		<div class="title_feature">
			<span>+3 milions people</span>
		</div>
		<div class="sub_title">
			<span>Lorem ipsum dolor sit amet consect etrttur adipisicing labore et trtdolore magna aliqut</span>
		</div>
		<div class="see_more">
			<input type="button" name="" value="See more">
		</div>
	</div>
	<div class="feature">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-file-text-o" aria-hidden="true"></i>
		</div>
		<div class="title_feature">
			<span>+3 milions people</span>
		</div>
		<div class="sub_title">
			<span>Lorem ipsum dolor sit amet consect etrttur adipisicing labore et trtdolore magna aliqut</span>
		</div>
		<div class="see_more">
			<input type="button" name="" value="See more">
		</div>
	</div>
	<div class="feature dark">
		<div class="icon hexagon">
			<i class="fa fa-2x fa-database" aria-hidden="true"></i>
		</div>
		<div class="title_feature">
			<span>+3 milions people</span>
		</div>
		<div class="sub_title">
			<span>Lorem ipsum dolor sit amet consect etrttur adipisicing labore et trtdolore magna aliqut</span>
		</div>
		<div class="see_more">
			<input type="button" name="" value="See more">
		</div>
	</div>
</div>