
	<div class="menu" *ngIf="showMenu">
		<div class="nav-bar">
			<ul>
			  <li routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}"><a  [routerLink]="['/']" (click)="toggleMenu()">Home</a></li>
			  <li routerLinkActive="active" class=""><a [routerLink]="['/community']" (click)="toggleMenu()">Community</a></li>
			  <li routerLinkActive="active" class="">
			  	<a (click)="toggleSubMenu()">Courses</a>
					<ul class="sub_menu" *ngIf="showSubMenu">
						<li routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}" ><a (click)="toggleMenu()" [routerLink]="['/level/b1']">B1</a></li>
						<li routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}" ><a (click)="toggleMenu()" [routerLink]="['/level/toeic']">Toeic</a></li>
						<li routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}" ><a (click)="toggleMenu()" [routerLink]="['/level/ielts']">Ielts</a></li>
					</ul>
			  </li>
			  <!-- <li routerLinkActive="active" class=""><a [routerLink]="['/test']">Test</a></li> -->
			  <!-- <li routerLinkActive="active" class=""><a [routerLink]="['/bookmark']">Bookmark</a></li> -->
			  <li routerLinkActive="active" *ngIf="isLogin"><a (click)="toggleMenu()" [routerLink]="['/profile']">Profile</a></li>
			  <li ><a (click)="toggleMenu()" id="btn_about_us" href="#">About us</a></li>
			</ul>
		</div>
		<div class="section usernameAndAvatar" *ngIf="isLogin">
			<a href="#" ><span>{{name}}</span>
			<img *ngIf="imgId==null" class="img_user" src="./../../../assets/images/user.png" width="30px" height="30px">
			<img  *ngIf="imgId!=null" class="img_user" src="https://elearn-anhhong.c9users.io/images/{{imgId}}" width="30px" height="30px">
			</a>
		</div>



		<div class="section div_login" *ngIf="!isLogin">
			<input class="button_cancel_custom" (click)="showFormLogin()" type="button" name="" value="Login">
		</div>
		<div class="section div_register" *ngIf="!isLogin">
			<input class="button_cancel_custom" (click)="showFormRegister()" type="button" name="" value="Register">
		</div>



		<div class="section notify" *ngIf="isLogin">
			
			<span class="text_notify">
				Notify
			</span>
			<div class="bell_notify" (click)="toggle()">
				<div class="img_bell"><i class="fa fa-bell" aria-hidden="true"></i></div>
				<span class="notify_quantity">3</span>
			</div>
			<div class="detail_notify" *ngIf="isShowDetailNotify">
				<a href="#">
					<div class="img">
						<img class="img_user" src="./../../../assets/images/user.png" width="50px" height="50px">
					</div>
					<div class="infor_notify">
						<span class="title_notify">
							Cường Nguyễn bình luận bài viết của bạn.
						</span>
						<span class="time_notify">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>20-3-2019 at 9:00 AM</span>
						</span>
					</div>
				</a>
				<a href="#">
					<div class="img">
						<img class="img_user" src="./../../../assets/images/user.png" width="50px" height="50px">
					</div>
					<div class="infor_notify">
						<span class="title_notify">
							Cường Nguyễn bình luận bài viết của bạn.
						</span>
						<span class="time_notify">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>20-3-2019 at 9:00 AM</span>
						</span>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="form" *ngIf="formLogin">
		<div class="background" (click)="showFormLogin()"></div>
		<dialog [open]="formLogin">
		<div class="login_form">
			<div class="title_login">
				<span>Login</span>
			</div>
			<div class="div_username">
				<span>
					Username
				</span>
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Type your username" [(ngModel)]="username_login">
			</div>
			<div class="div_password">
				<span>
					Password
				</span>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<input type="password" name="" placeholder="Type your password" [(ngModel)]="password_login" 
				(keydown.enter)="login()">
			</div>
			<div class="forgot">
				<a href="">Forgot password ?</a>
			</div>
			<div class="message_error" *ngIf="message_error!=''">
				<span>{{message_error}}</span>
			</div>
			<div class="div_submit">
				<input class="input_custom" type="button" name="" value="Login" (click)="login()"  >
			</div>
			<div class="orther">
				<span>Or login with</span>
			</div>
			<div class="icons">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				<i class="fa fa-google" aria-hidden="true"></i>
			</div>
			<div class="close_login" (click)="showFormLogin()">
				<i class="fa fa-2x fa-times" aria-hidden="true"></i>
			</div>
		</div>
	</dialog>
		<div class="register_form">
			
		</div>
	</div>
	<div class="form" *ngIf="formRegister">
		<div class="background" (click)="showFormRegister()"></div>
		<dialog [open]="formRegister">
		<div class="login_form">
			<div class="title_login">
				<span>Register</span>
			</div>
			<div class="div_username">
				<span>
					Username
				</span>
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Type your username" [(ngModel)]="username_reg">
			</div>
			<div class="div_password">
				<span>
					Password
				</span>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<input type="password" name="" placeholder="Type your password" [(ngModel)]="password_reg">
			</div>
			<div class="div_username">
				<span>
					Re-password
				</span>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<input type="password" name="" placeholder="Type your re-password" [(ngModel)]="rePassword_red">
			</div>
			<div class="div_username">
				<span>
					Full name
				</span>
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Type your name" [(ngModel)]="fullName">
			</div>
			<div class="div_username">
				<span>
					Email
				</span>
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Type your Email" [(ngModel)]="email" (keydown.enter)="register()">
			</div>
			<br>
			<br>
			<div class="message_error" *ngIf="message_error!=''">
				<span>{{message_error}}</span>
			</div>
			<div class="div_submit">
				<input class="input_custom" type="button" name="" value="Register" (click)="register()">
			</div>
			
			
			<div class="close_login" (click)="showFormRegister()">
				<i class="fa fa-2x fa-times" aria-hidden="true"></i>
			</div>
		</div>
		</dialog>
		<div class="register_form">
			
		</div>
	</div>
	<div class="icon_bars">
		<i class="fa fa-bars fa-2x" aria-hidden="true" (click)="test()"></i>
	</div>
	<ngx-spinner
	bdColor = "rgba(0,0,0,0.29)"
	size = "medium"
	color = "#000000"
	type = "ball-spin-fade"
	[fullScreen] = "true"
	>
	<!-- <p style="color: white" > Upload... </p> -->
	</ngx-spinner>
<!-- <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->